.header {
  background-color: slategray;
  color: lightgreen;
  height: 60px;
  margin: 0;
  padding: auto;
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 45px;
}